<div class="full-height bg-image-style xyz">
  <section id="timeline" class="overflow-auto full-height xyz">
    <h1>My Experiences</h1>
    <p class="leader">
      All My Experiences are not listed here and I have more experiences in
      other Fields like building constructions and more...
    </p>
    <div class="demo-card-wrapper overflow-auto xyz">
      <div class="demo-card demo-card--step1">
        <div class="head">
          <div class="number-box">
            <span>01</span>
          </div>
          <h2>
            <span class="small mb-2">
              <i class="fas fa-chess-clock fa-sm"></i>
              {{ _experienceList[0].startDate | date: "MMM y" }} -
            </span>
            {{ _experienceList[0].companyName }}
            <span class="small mt-2">
              <i class="fas fa-map-marker-alt fa-sm"></i>
              Tehran - Iran
            </span>
          </h2>
        </div>
        <div class="body overflow-auto">
          <p [innerHTML]="_experienceList[0].details"></p>
          <img src="assets/faranegar.png" alt="Graphic" />
        </div>
      </div>

      <div class="demo-card demo-card--step2">
        <div class="head">
          <div class="number-box">
            <span>02</span>
          </div>
          <h2>
            <span class="small mb-2">
              <i class="fas fa-chess-clock fa-sm"></i>
              {{ _experienceList[1].startDate | date: "MMM y" }} -
              {{ _experienceList[1].endDate | date: "MMM y" }}</span>
            {{ _experienceList[1].companyName }}
            <span class="small mt-2">
              <i class="fas fa-map-marker-alt fa-sm"></i>
              Tehran - Iran
            </span>
          </h2>
        </div>
        <div class="body overflow-auto">
          <p [innerHTML]="_experienceList[1].details"></p>
          <img src="http://placehold.it/1000x500" alt="Graphic" />
        </div>
      </div>

      <div class="demo-card demo-card--step3">
        <div class="head">
          <div class="number-box">
            <span>03</span>
          </div>
          <h2>
            <span class="small mb-2">
              <i class="fas fa-chess-clock fa-sm"></i>
              {{ _experienceList[2].startDate | date: "MMM y" }} -
              {{ _experienceList[2].endDate | date: "MMM y" }}
            </span>
            {{ _experienceList[2].companyName }}
            <span class="small mt-2">
              <i class="fas fa-map-marker-alt fa-sm"></i>
              Helsinki - Finland
            </span>
          </h2>
        </div>
        <div class="body overflow-auto">
          <p [innerHTML]="_experienceList[2].details"></p>
          <img src="http://placehold.it/1000x500" alt="Graphic" />
        </div>
      </div>

      <div class="demo-card demo-card--step4">
        <div class="head">
          <div class="number-box">
            <span>04</span>
          </div>
          <h2>
            <span class="small mb-2">
              <i class="fas fa-chess-clock fa-sm"></i>
              {{ _experienceList[3].startDate | date: "MMM y" }} -
              {{ _experienceList[3].endDate | date: "MMM y" }}</span>
            {{ _experienceList[3].companyName }}
            <span class="small mt-2">
              <i class="fas fa-map-marker-alt fa-sm"></i>
              Tehran - Iran
            </span>
          </h2>
        </div>
        <div class="body overflow-auto">
          <p [innerHTML]="_experienceList[3].details"></p>
          <img src="http://placehold.it/1000x500" alt="Graphic" />
        </div>
      </div>

      <!-- <div class="demo-card demo-card--step5">
        <div class="head">
          <div class="number-box">
            <span>05</span>
          </div>
          <h2><span class="small">Subtitle</span> Conversion</h2>
        </div>
        <div class="body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta
            reiciendis deserunt doloribus consequatur, laudantium odio dolorum
            laboriosam.
          </p>
          <img src="http://placehold.it/1000x500" alt="Graphic" />
        </div>
      </div>-->
    </div>
  </section>
</div>
