<div style="background-image: url('./../../../../assets/home-right.jpg');" class="full-height bg-image-style">
  <div class="d-flex" id="home-left-slide-title">
    <span class="animated bounceInRight mt-5 mr-auto last-name">
      {{ _personInfo.lastName }}
    </span>
  </div>
  <div>
    <p class="animated slideInLeft home-title mr-auto">ASP.Net MVC 5 | Core 2.x | Angular 4+ Developer</p>
  </div>
  <div class="animated slideInUp social-bar-container" style="display: block;">
    <nav id="cv-home-social-bar">
      <ul class="social-bar-ul">
        <li> <a href="#" class="position-relative" tooltip="FACEBOOK"><i class="fab fa-facebook-f d-block position-absolute w-100"></i></a></li>
        <li> <a href="#" class="position-relative" tooltip="GITHUB"><i class="fab fa-github d-block position-absolute w-100"></i></a></li>
        <li> <a href="#" class="position-relative" tooltip="LINKEDIN"><i class="fab fa-linkedin-in d-block position-absolute w-100"></i></a></li>
      </ul>
    </nav>
  </div>

</div>
