<div class="d-flex" *ngIf="isDesktopDevice">
  <div class="col-lg-6 animated bounceInDown">
    <app-home-left></app-home-left>
  </div>
  <div class="col-lg-6 animated bounceInUp">
    <app-home-right></app-home-right>
  </div>
</div>
<div class="d-flex overflow-auto full-height" *ngIf="isMobile">
  <div style="background-image: url('./../../../../assets/home-left.jpg');" class="full-height bg-image-style">
    <div>
      <div class="profile-card">
        <div class="profile-card__img">
          <img src="assets/AliKh.jpg" alt="profile card">
        </div>

        <div class="profile-card__cnt">
          <div class="profile-card__name">Hi, I'm Ali !</div>
          <div class="profile-card__name">Hope you doing Great!</div>
          <div class="profile-card__txt">I'm a Fullstack Developer from <strong>Tehran, Iran</strong></div>

          <div class="profile-card-inf">
            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title"></div>
              <div class="profile-card-inf__txt">
                <p [innerHTML]="_personInfo.about"></p>
              </div>
            </div>
          </div>
          <div class="profile-card-ctr">
            <button class="profile-card__button button--green">Message</button>
            <button class="profile-card__button button--orange">Follow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
