<div style="background-image: url('assets/img5.jpg');" class="full-height bg-image-style overflow-none">

  <div class="d-flex">
    <!-- <div class="flex-row animated bounceInDown">
      <div class="flex-row">
        <img src="assets/exp.jpg"
          class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle}" alt="">
      </div>
    </div> -->
    <div class="flex-row-reverse animated bounceInUp overflow-none">
      <app-exp-right></app-exp-right>
    </div>
  </div>
</div>
